

	<div id="alerts-box">  
		<p id="classalerts">Alerts!<br>
		Messages List includes msgs and sitting requests organized chronologically 5 most recent</p>
	</div>


	<div id="left-user-box">
		<div id="user-box">
			<div class= "user-photo"> 
				<img src=<%=user.escape('avatar_url')%> alt="Profile">
			</div>
			<div id="photo-box-lower">
				<%=user.escape('user_name')%><br>
				<div id="updatephoto">
				<a id="updatephotolink">Update Photo</a>
				</div>
			</div>
		</div>
		<div id="profstuff">
			Verifications <br/><br/>
			<div id="phonevar">

				<% if(phone) %>
				 <% { %>
				 <img src="/assets/phone-icon.jpg" alt="phone-icon" width="25" height="25"> <%= user.escape('phone_number') %>
				<% } %>
				<% if(!phone) { %>
				<a id="verify-phone">verify phone number</a>
				<% } %>

				<br><br>
				<% if(!uid) { %>
				<a href="/users/auth/facebook"> 
					<img alt="Facebook-connect" src="/assets/fbconnect.png">
				</a>
				<% } %>

				<% if(uid) { %>
				<img alt="facebook-icon" src="/assets/fbicon.jpg">
				<% } %>
		

	<br><br>


			</div>
		</div>
	</div>

	<div class="profile-box">
		<div id="profile-info">
			
		 Swaps Ready to Use 
			<%=user.escape('swaps_earned')%> <br>

			 About Me <%=user.escape('about_me')%>
		<br><br>
		<a id="updatefullphotolink" href=""> Update Profile </a>
		</div>
				
			
		</div>
	</div>


	<a href="" class="btn invite-button">Invite friends to Party</a>

	<script type="text/javascript">(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document); </script>
	
	<script> filepicker.setKey(ENV["FILEPICKER_API_KEY"]); </script>