	<div id="alerts-box">  
		<p id="classalerts">Alerts!<br>
		Messages List includes msgs and sitting requests organized chronologically 5 most recent</p>
	</div>


	<div id="left-user-box">
		<div id="user-box">
			<div class= "user-photo"> 
				<img src=<%=user.escape('avatar_url')%> alt="Profile">
			</div>
			<div id="photo-box-lower">
				<%=user.escape('user_name')%><br>
				<div id="updatephoto">
				<a id="updatephotolink">Update Photo</a>
				</div>
			</div>
		</div>
		<div id="profstuff">
			Verifications
		</div>
	</div>

	<div class="profile-box">
		<div id="profile-info">
			
				<table class="p-info-left">
					<tbody>
					<tr>
						<td class="profstat"> Swaps Ready to Use </td>
						<td class="profentry"> <%=user.escape('swaps_earned')%></td>
					</tr>

					<tr>
						<td class="profstat"> Email </td>
						<td class="profentry"> <%=user.escape('email')%></td>
					</tr>

					<%if(user.escape('address')) { %>
					<tr>
						<td class="profstat"> Address </td>
						<td class="profentry"><%= user.escape('address') %></td>
					</tr>
					<% } %>

					<tr>
						<td class="profstat"> About Me </td>
						<td class="profentry"> <%=user.escape('about_me')%></td>
					</tr>
					
					<tr>
						<td class="profstat"> My Sitter Rate </td>
						<td class="profentry"><%= user.escape('sitter_rate') %></td>
					</tr>
					

					<%if(user.escape('dog_karma')) { %>
					<tr>
						<td class="profstat"> My Dog Karma </td>
						<td class="profentry"><%= user.escape('dog_karma') %></td>
					</tr>
					<% } %>

					</tbody>
				</table>

					<br><br>
						<a id="updatefullphotolink" href=""> Update Profile </a>
				</div>
				
			
		</div>
	</div>


	<a href="" class="btn invite-button">Invite friends to Party</a>