	<div id="alerts-box">  
		<p id="classalerts">Alerts!<br>
		Messages List includes msgs and sitting requests organized chronologically 5 most recent</p>
	</div>


	<div id="left-user-box">
		<div id="user-box">
			<div class= "user-photo"> 
				<img src=<%=user.escape('avatar_url')%> alt="Profile">
			</div>
			<div id="photo-box-lower">
				<%=user.escape('user_name')%><br>
				<div id="updatephoto">
				<a id="updatephotolink">Update Photo</a>
				</div>
			</div>
		</div>
		<div id="profstuff">
			Verifications
		</div>
	</div>

	<div class="profile-box">
		<div id="profile-info">
			
				<div class="p-info-left"
					<li><h4>Swaps Ready to Use</h4><h6> <%=user.escape('swaps_earned')%> </h6></li><br>

					<li><h4>Email</h4> <h6><%=user.escape('email')%></h6></li><br>

					<li>
						<%if(user.escape('address')) { %>
							<h4> Address </h4><h6><%= user.escape('address') %></h6>
						<% } %>
					</li>

					<li>
					<%if(user.escape('sitter_rate')) { %>
						My Sitter Rate:  <%=user.escape('sitter_rate') %>
					<% } %>
					</li>

					<li>
					<%if(user.escape('dog_karma')) { %>
						My Dog Karma:  <%=user.escape('dog_karma') %>
					<% } %>
					</li>

					<li>
					<%if(user.escape('dog_karma')) { %>
						My Sitter Karma:  <%=user.escape('dog_karma') %>
					<% } %>
					</li>

					<br><br>
						<h4><a href=""> Update Profile </a></h4>
				</div>

				
				<div class="about-me-box">
					About Me
				</div>
				
			
		</div>
	</div>


	<a href="" class="btn invite-button">Invite friends to Party</a>