
<% if(@user.swaps_earned > 0) %>

	<div id="swapformintro">
		<div id="swapformtitle"> <h1> Hi there 
										<% if (@user.name != nil) %>
											 <%= @user.name %>.
											<% end %>
								</h1>
		</div>

		<h2> You have <%=pluralize(@user.swaps_earned, 'credit')%> to use </h2>

		<div id="newuserbox">
			<%= form_tag("/current_requests", :method => "post", id:"newrequestform") do %>
			 
     		 <div class="new_request-dates">
       		 	Start date <br>
	       		 <input type="text" id="date-start" class="formmap" name="start"><br> <br>
	       		 For How Many Nights? <br><br>
	       		 <select id="select-nights" form="newrequestform" name="nights">
	       		 	<% counter = 1 %>
	       		 	<%=@user.swaps_earned.times do %>
	       		 		<option value=<%=counter%>><%=counter%></option>
	       		 		<% counter+=1 %>
	       		 	<% end %>
	       		 </select><br>
			</div>

			<div class="new-request-button-holder">
       			<input type="submit" class="new-request-button" value="Yeah!"> </form>
       		</div>
       		<% end %>
		
       		<br>
		</div>

		<div class="cash-out-option">
			<h4> Or </h4> <br>
			<a href=""> Sell my credits! ($3/each) </a>
		</div>
	</div>

<% else %>

	<div id="swapformintro">
		<div id="swapformtitle"> <h1> Hi there <% if (@user.name) %>
											 <%=@user.name%>.
											 <% end %> </h1></div>

		<h2> You have no swaps to use. </h2>
		<form action="/sitting_requests"><input type="submit" class="earn_swaps_button" value ="Watch Someone's Dog. Earn Swaps."> </form>
	</div>

<% end %>

<script type="text/javascript">
  $(function() {

  	 $('#date-start')
      .datepicker({format: 'yyyy-mm-dd'});

      $('.new-request-button').click(function(){

      });
  });

 </script>
</html>