
<div class="request-holder">
	<div class="request-left-panel">
		<div id="request-dates-box">
			<div class="dates">
				<h1 class="request-dates-head"> <%=DateTime.parse(@request.start_date.to_s).strftime("%B %d, %Y") %>  
					 <div class= "request-btwn"> - </div> <%=DateTime.parse(@request.end_date.to_s).strftime("%B %d, %Y") %> </h1>
			</div>
		</div>
	    <div id="map-canvas-request">
		    <img id="request-map" alt="requester-address" src="http://maps.googleapis.com/maps/api/staticmap?center=<%=@latitude%>,<%=@longitude%>&markers=%7C<%=@latitude%>,<%=@longitude%>&zoom=13&size=250x260&sensor=false">
	    </div>
	</div>

	<div id="request-photo-box">
		<div class="request-name"> <%=@pets[0].name%> - <%=pluralize(@pets[0].age, 'year')%> old</div>
		<%= image_tag @pets[0].avatar.url(:medium) %>
	</div>

	<div id="request-details-box">
		<div class="care-instructions"> 
			<% if @offered %>
				<div class="already-offered"> You've offered to watch this dog.</div>
			<% else %>
				<div id="offer-button"><center><button class="requestbutton">Offer To Watch This Dog</button> </center><br></div>
			<% end %>
			<center><div id="request-q"> Got questions? <a>Message the owner</a></div><br></center>
			Care Instructions: 
			<% instructions = "None" %>
			<% if @pets[0].care_instructions != nil %> 
			<% instructions = @pets[0].care_instructions %>
			<% end %>
			<%= instructions %> <br/><br/>
			Address: <%=@user.address%> <br><br/>
			Owner: <%=@user.name %> <br><br/>
			<center> <%= image_tag @user.avatar.url(:small) %> </center>
		</div>	
	</div>
</div>