
<body>

	<div class="signup_background">
		<div class="row">
			<div class="span4 offset5">
				<%= form_for(@user, :html => { :id => 'signup' } ) do |f| %>
					<%= f.label :user_name  %>
					<%= f.text_field :user_name %> <br/> <br/>  
					<%= f.label :email %>
					<%= f.text_field :email %> <br/> <br/>  
					<%= f.label :password %> 
					<%= f.password_field :password %> <br/><br/>  
					<%= f.submit "Sign Up", class: "submit_button" %>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="span3 offset5 warning">
			<% flash.each do |key, value| %>
		        <div class="alert"><%= value %></div>
		      <% end %>
		  </div>
		</div>
	</div>

	<div class="container-fluid main-container">
	<div class="row-fluid">
		<div class="span12 secondary-headers">
			 <h2 class="second_welcome">bringing dog owners together</h2>
			  <h3 class="second-subheader">bad ass since 2013</h3>
		</div>

		<div class="span4 first">
			<h3 class = "subheader">Sit Someone's Dog</h3>
			<p class="welcomedeets">stuff</p>
		</div>
		
		<div class="span4">
			<h3 class = "subheader">Buy and Sell Swaps</h3>
			<p class="welcomedeets"> stuff </p>
		</div>

		<div class="span4">
			<h3 class = "subheader">Find Professional Sitters</h3>
			<p class="welcomedeets"> stuff </p>
		</div>
	</div>
</div

</body>