<div class="container">



	<div class = "user-profile-form">
		<div class="profile-alert">  <a href="/current_requests/new"> Credits (<%=@user.swaps_earned%>) </a> </div>
		<div class= "profile-alert-center">  <a href="">Upcoming (<%=@user.upcoming%>) </a> </div> 
		<div class="profile-alert">  <a href="">Messages (<%=@user.inbox.count%>) </a></div>
	</div>

	<div class = "user-profile-form">
		<div class="profile-pic"> 
			<img alt="human-profilepic" src=<%= @user.avatar.url(:medium) %>>
		</div>
		<div class="profile-pic"> 
			<img alt="pet-profilepic" src=<%= @user.pet.avatar.url(:medium) %>>
		</div>
	</div>
	<div class="user-profile-form">
			<div class="display-user-info">
				<div class="profile-text"> <%=@user.name%>  </div> 
			</div>
			<br>

			<div class="about-me"> 
				<%= @user.about_me %>
			</div>
			<br>
		<%= link_to "edit my profile", edit_user_url(current_user)%>
		</div>

		<center> <div class = "invite-button"> Invite Friends to Party </div> </center>
		 <br><br><br>
	
</div>