<div class="profile neutral-back">
	<div class="container">
		<div class = "profile-box large-top-margin">
				<div class="row-fluid profile-nav tiny-bottom-padding small-bottom-border"> 
					<ul>
				    <li><a href="#" class="active">Profile</a></li>
				    <li> <i class="icon-chevron-right"></i></li>
				    <li><a href="#">Payment Info</a></li>
				  </ul>
				</div>	
			<div class = "user-profile-form">
				<div class="row-fluid">
					<div class="profile-pic span6"> 
						<img src="https://graph.facebook.com/<%=current_user.uid%>/picture?width=200&height=200">
					</div>
					<div class="profile-pic span6"> 
					<%= APP_CONFIG["stripe_amount"] %>	
						<% if !current_user.pet.avatar_url.include?('dogmissing') %>
						  <img src="<%=current_user.pet.avatar%>" height='200' width='200'>
						<% else %>
						  <div class="upload-button">
						  	<a> Upload a Picture of Your Pup </a>
						  	<br> <br>dog icon
						  </div>
						  <%= form_for @user, :html => { :multipart => true } do |form| %>
						    <%= form.fields_for :pet do |pet_fields| %>
							    <%= pet_fields.file_field(:avatar, class: "hidden") %>
							  <% end %>
							  <%= form.submit(class: "hidden") %>
						  <% end %>
					  <% end %>
					</div>
				</div>
			</div>
			<div class="cherrybtn pull-right"> Next </div>
	  </div>
	</div>
</div>