<div class="container">
	<div class = "user-profile-form">
		<div class="profile-alert">  <a href="/current_requests/new"> Credits (<%#=@user.swaps_earned%>) </a> </div>
		<div class= "profile-alert-center">  <a href="">Appointments (<%#=@user.upcoming%>) </a> </div> 
		<div class="profile-alert">  <a href="">Messages (<%#=@user.inbox.count%>) </a></div>
	</div>
	<div class = "user-profile-form">
		<div class="row-fluid">
			<div class="profile-pic span6"> 
				<img src="https://graph.facebook.com/<%=current_user.uid%>/picture?width=200&height=200">
			</div>
			<div class="profile-pic span6"> 	

			  <%= form_for current_user, :html => { :multipart => true } do |form| %>
				  <%= form.file_field :avatar %>
				  <%= form.submit %>
			  <% end %>
			</div>
		</div>
	</div>
	<div class="user-profile-form">
			<div class="display-user-info">
				<div class="profile-text"> <%=@user.name%>  </div> 
			</div>
			<br>

			<div class="about-me"> 
				<%#= @user.about_me %>
			</div>
		</div>
		<center> <div class = "invite-button"> Invite Your Buds With Dogs </div> </center>
		 <br><br><br>	
</div>