<div class="container">

	<div class = "user-profile-form">
		<div class="profile-alert">  <a href=""> Credits (<%=@user.swaps_earned%>) </a> </div>
		<div class= "profile-alert-center">  <a href="">Upcoming (<%=@user.upcoming%>) </a> </div> 
		<div class="profile-alert">  <a href="">Messages (<%=@user.inbox.count%>) </a></div>
	</div>
	<div class="user-profile-form">
			<div class="display-user-info">
				<div class="profile-text"> <%=@user.name%>  </div> 
			</div>
			<br>

			<div class="about-me"> 
				<%= @user.about_me %>
			</div>
			<br>
		<a href="">edit my profile</a>
		</div>
	
</div>