<!DOCTYPE html>
<html>
<head>
  <title>Fourlegsgood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li> <div class="flglogo"> <img src="assets/logo.png"> </div> </li>
      <form id="navsearch" class="navbar-search pull-left" action="/sitting_requests" method="get">
  		<input type="text" name="zip" class="search-query" placeholder="Earn Swaps! Search Dogs by Address">
	  </form>
    </ul>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
        <li> <%=link_to current_user.email, user_url(current_user), class: "login" %></li>
        <li> <%=link_to "Log Out", destroy_user_session_url, method: "delete", class: "login" %></li>
      <% else %>
      	<li><a href="/users/sign_up" class="login">Sign Up</a></li>
        <li><a href="/users/sign_in" class="login">Log In</a></li>
      <% end %>
        	<li>

            <form action="/current_requests/new" method="get"><input class="btn" id="navbutton" type="submit" value="Request a Dog Sitter"></form>
    </ul>
  </div>
</div>
  
    <% if notice %>
       <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
       <p class="alert"><%= alert %></p>
    <% end %>

      <%= yield %>

<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Rufina|Ovo|Merriweather+Sans' rel='stylesheet' type='text/css'>
</body>
</html>