<!DOCTYPE html>
<html>
<head>
  <title>Fourlegsgood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"></a>
    <ul class="nav">
      <li class="active"> <a href="/statics">Four Legs Good</a></li>
      <form id="navsearch" class="navbar-search pull-left" action="/sitting_requests" method="get">
  		<input type="text" name="zip" class="search-query" placeholder="Earn Swaps! Search Dogs by Zip">
	  </form>
    </ul>
    <ul class="nav pull-right">
    	<li><a href="/users/new" id="login">Sign Up</a></li>
      	<li><a href="#" id="login">Log In</a></li>
      	<li><button class="btn" id="navbutton">Request a Dog Sitter</button></li>
    </ul>
  </div>
</div>
  
    <% if notice %>
       <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
       <p class="alert"><%= alert %></p>
    <% end %>

      <%= yield %>

<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Rufina|Ovo|Merriweather+Sans' rel='stylesheet' type='text/css'>
</body>
</html>
