<!DOCTYPE html>
<html>
  <head>
    <title>Fourlegsgood</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      
    <% if notice %>
       <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
       <p class="alert"><%= alert %></p>
    <% end %>

    <%= render partial: "statics/navbar" %>

    <%= yield %>

    <%= render partial: "footer" %>
    <link href='http://fonts.googleapis.com/css?family=Gilda+Display|Rufina|Ovo|Merriweather+Sans' rel='stylesheet' type='text/css'>

  </body>
</html>